# Virtual environments
.venv/
venv/
ENV/
env/
predictors/
outputs/
logs/

# Python cache (compiled bytecode)
src/__pycache__/
src/Utils/__pycache__/
src/*.py[cod]
src/*$py.class
src/Utils/*.py[cod]
src/Utils/*$py.class

# VS Code specific settings (optional)
.vscode/
